* {
  margin: 0;
  padding: 0;
  background-image: 'https://th.bing.com/th/id/OIP.3022ogD908UtmSel-7A_dAHaFB?w=244&h=180&c=7&r=0&o=5&pid=1.7';
}

.title {
  background-color: #343a40;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.cards {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding: 30px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card h3 {
  text-align: center;
}


.main-title {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  font-size: 50px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #343a40;
  margin: 0 auto;
  justify-content: space-between;
}

.header button {
  margin-left: 200px;
  justify-content: flex-end;
}

/* .container {
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  padding: 20px;
}

.imgContainer {
  display: flex;
  padding: 0.8rem 0;
  background: white;
  height: 18rem;
}

.imgContainer img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%; 
}

.nameContainer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
  cursor: pointer;
} */
